body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 99vh;
  color: white;
}
.container {
  height: 525px;
  transition: 8s ease-out;
  /* border: 1px solid black; */
}
.highlight {
  background-color: yellow;
}

.fire {
  color: red;
}

.ice {
  color: cadetblue;
}

.heal {
  color: olivedrab;
}

.slow {
  color: goldenrod;
}
.slow-down {
  transition: 5s linear;
  transform: translateY(-100px);
}

@keyframes descend {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(500px);
  }
}

.type-word {
  position: absolute;
  display: inline;
  animation-name: descend;
  animation-timing-function: linear;
  animation-duration: 15s;
  /* box-shadow: rgba(250, 250, 255, 0.2) 0px 7px 29px 0px; */
  padding: 3px 2px;
  border-radius: 5px;
}

.remove-word-animate {
  display: none;
  transition: display 0.5s;
}

.popup {
  width: 20%;
  background-color: #ffebcd;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  box-shadow: 3px 3px #e9a43d;
  transition: transform 0.4s ease-out, visibility 0.3s ease-in,
    top 0.3s ease-out;
}
.popup p {
  font-size: 12px;
  font-style: italic;
  padding: 1em;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.continue-btn {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 7px;
}
.front {
  display: block;
  padding: 8px 20px;
  letter-spacing: 2px;
  border-radius: 12px;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.continue-btn:active .front {
  transform: translateY(-2px);
}

/* background from: https://codepen.io/JDoe/pen/QxvgOZ */
/* .space {
  position: relative;
  display: block;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding-top: 100vh;
} */

.stars > div {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars .stars-back {
  top: -50%;
  opacity: 0.5;
  background-image: radial-gradient(
      2px 2px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 150px 150px;
  animation: stars 10s infinite linear;
}

.stars .stars-middle {
  background-image: radial-gradient(
      3px 3px at 50px 160px,
      #ddd,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: stars 15s infinite linear;
}

@keyframes stars {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
