body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  height: 525px;
  transition: 8s ease-out;
  /* border: 1px solid black; */
}
.highlight {
  background-color: yellow;
}

.fire {
  color: red;
}

.ice {
  color: cadetblue;
}

.heal {
  color: olivedrab;
}

.slow {
  color: goldenrod;
}
.slow-down {
  transition: 5s linear;
  transform: translateY(-100px);
}

@keyframes descend {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(500px);
  }
}

.type-word {
  position: absolute;
  display: inline;
  transition: 5s linear;
  animation: descend 15s linear;
}
