.type-word {
  position: absolute;
  display: inline;
  margin-top: 10px;
}

.animation {
  -webkit-transition: 15s;
  -moz-transition: 15s;
  -ms-transition: 15s;
  -o-transition: 15s;
  transition: 15s;
  margin-top: 300px;
}

.faster-animation {
  -webkit-transition: 7s;
  -moz-transition: 7s;
  -ms-transition: 7s;
  -o-transition: 7s;
  transition: 7s;
  margin-top: 300px;
}

/* 

@keyframes descend {
  0% {
    transform: translateY(10px);

  }
  100% {
    transform: translateY(300px);
  }
} */

.highlight {
  background-color: yellow;
}
